<h1>Personal information</h1>
<div class="wrapper">
    <div class="horizontal">
    <div>
        <h5>Full name</h5>
        <p>
            <input type="text" name="" id="" placeholder="e.g. John Reynolds" [(ngModel)]="name">
        </p>
    </div>
    <div>
        <h5>Gender</h5>
        <p class="sex">
            <label class="radiogroup">
                <input type="radio" name="sex" id="man" [value]="1" [(ngModel)]="sex">
                <label for="man">Man</label>
            </label>
            <label class="radiogroup">
                <input type="radio" name="sex" id="woman" [value]="0" [(ngModel)]="sex">
                <label for="woman">Woman</label>
            </label>
        </p>
    </div>
    </div>
    <h5>Age</h5>
    <p class="age">
        <input type="number" placeholder="52" [(ngModel)]="age"> Years old
    </p>
    <div class="horizontal">
        <div>
            <h5>Email-address</h5>
            <p>
                <input type="email" class="long" name="" id="" placeholder="e.g. j.reynolds@uhg.com" [(ngModel)]="email">
            </p>
        </div>
        <div>
            <h5>Telephone number</h5>
            <p>
                <input type="text" class="long" name="" id="" placeholder="e.g. (651) - 555 - 1234" [(ngModel)]="tel">
            </p>
        </div>
    </div>
    <div class="horizontal">
        <div>
            <h5>Address</h5>
            <p>
                <input type="email" class="longer" name="" id="" placeholder="e.g. 123 Maple Street, Minneapolis" [(ngModel)]="address">
            </p>
        </div>
        <div>
            <h5>Zip code</h5>
            <p>
                <input type="text" name="" id="" placeholder="e.g. MN 55401" [(ngModel)]="zip">
            </p>
        </div>
    </div>
</div>
<button id="continue" class="button-solid" [routerLink]="'../info'" (click)="advance()" [disabled]="!valid()">
    Continue
    <svg xmlns="http://www.w3.org/2000/svg" width="12.021" height="12.021" viewBox="0 0 12.021 12.021">
        <path id="Path_24" data-name="Path 24" d="M16,9.414,7.4,18.021,5.983,16.607,14.59,8H7V6H18V17H16Z" transform="translate(-5.983 -6)" fill="color"/>
    </svg>
</button>