.sex {
    display: flex;
    flex-direction: row;
    gap: 5ch;
}

.wrapper {
    margin-top: 10px;
}

.horizontal {
    display: flex;
    flex-direction: row;

    gap: 2rem;

}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#continue {
    margin-top: 65px;
}

.radiogroup {
    display: flex;
    align-items: flex-start;
}