<div class="wrapper">
    <h3>I have expererienced...</h3>
    <p class="cp">
        <label>
            <input type="radio" name="cp" id="typical" value="1">
            <label for="typical">A typical angina</label>
        </label>
        <label>
            <input type="radio" name="cp" id="nontypical" value="2">
            <label for="nontypical">A non-typical angina</label>
        </label>
        <label>
            <input type="radio" name="cp" id="other" value="3">
            <label for="other">A different type of chest pain</label>
        </label>
        <label>
            <input type="radio" name="cp" id="none" value="4">
            <label for="none">No chest pain</label>
        </label>
    </p>
    <h3>My resting blood pressure is...</h3>
    <p class="trestbps">
        <input type="number" placeholder="120"> Hg mm
    </p>
    <h3>My cholesterol is...</h3>
    <p class="chol">
        <input type="number" placeholder="215"> mg/dl
    </p>
    <h3>My fasting blood pressure is...</h3>
    <p class="fbs">
        <label>
            <input type="radio" name="fbs" id="over" value="1">
            <label for="over">Over 120 mg/dl</label>
        </label>
        <label>
            <input type="radio" name="fbs" id="under" value="0">
            <label for="under">120  or less mg/dl</label>
        </label>
    </p>
    <h3>The results of my resting electrocardiography are...</h3>
    <p class="restecg">
        <select name="restecg" id="restecg">
            <option value="0">Normal</option>
            <option value="1">Having ST-T wave abnormality</option>
            <option value="2">Showing probable or definite left ventricular hypertrophy</option>
        </select>
    </p>
</div>
