<div class="header">
    <h1>Some information about your heart</h1>
    <a id="back" routerLink="../../home">
        <svg xmlns="http://www.w3.org/2000/svg" width="27.243" height="27.243" viewBox="0 0 47.243 47.243">
            <g id="x_1_" data-name="x(1)" transform="translate(-3.699 -3.699)">
              <line id="Line_2" data-name="Line 2" x1="43" y2="43" transform="translate(5.821 5.821)" fill="none" stroke="#6a747a" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              <line id="Line_3" data-name="Line 3" x2="43" y2="43" transform="translate(5.821 5.821)" fill="none" stroke="#6a747a" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
            </g>
          </svg>                  
    </a>
</div>
<div class="wrapper">
    <h3>I have expererienced...</h3>
    <p class="cp">
        <label>
            <input type="radio" name="cp" id="typical" value="1">
            <label for="typical">A typical angina</label>
        </label>
        <label>
            <input type="radio" name="cp" id="nontypical" value="2">
            <label for="nontypical">A non-typical angina</label>
        </label>
        <label>
            <input type="radio" name="cp" id="other" value="3">
            <label for="other">A different type of chest pain</label>
        </label>
        <label>
            <input type="radio" name="cp" id="none" value="4">
            <label for="none">No chest pain</label>
        </label>
    </p>
    <h3>My resting blood pressure is...</h3>
    <p class="trestbps">
        <input type="number" placeholder="120"> Hg mm
    </p>
    <h3>My cholesterol is...</h3>
    <p class="chol">
        <input type="number" placeholder="215"> mg/dl
    </p>
    <h3>My fasting blood pressure is...</h3>
    <p class="fbs">
        <label>
            <input type="radio" name="fbs" id="over" value="1">
            <label for="over">Over 120 mg/dl</label>
        </label>
        <label>
            <input type="radio" name="fbs" id="under" value="0">
            <label for="under">120  or less mg/dl</label>
        </label>
    </p>
    <h3>The results of my resting electrocardiography are...</h3>
    <p class="restecg">
        <select name="restecg" id="restecg">
            <option value="0">Normal</option>
            <option value="1">Having ST-T wave abnormality</option>
            <option value="2">Showing probable or definite left ventricular hypertrophy</option>
        </select>
    </p>
</div>
<button id="continue" class="button-hollow" [routerLink]="'../tests'" (click)="advance()">
    Continue
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17.243" viewBox="0 0 39 35.243">
        <g id="arrow-right" transform="translate(-3.5 -2.879)">
          <line id="Line_1" data-name="Line 1" x2="35.707" transform="translate(5 21)" fill="none" stroke="#303335" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
          <path id="Path_4" data-name="Path 4" d="M12,5,27.5,20.5,12,36" transform="translate(13.5 0)" fill="none" stroke="#303335" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
        </g>
      </svg>
</button>