<h1>Some information about your heart</h1>
<div class="wrapper">
    <h5>Have you experienced chest pain?</h5>
    <p class="cp">
        <label>
            <input type="radio" name="cp" id="typical" [value]="1" [(ngModel)]="cp">
            <label for="typical">A typical angina</label>
        </label>
        <label>
            <input type="radio" name="cp" id="nontypical" [value]="2" [(ngModel)]="cp">
            <label for="nontypical">A non-typical angina</label>
        </label>
        <label>
            <input type="radio" name="cp" id="other" [value]="3" [(ngModel)]="cp">
            <label for="other">A different type of chest pain</label>
        </label>
        <label>
            <input type="radio" name="cp" id="none" [value]="4" [(ngModel)]="cp">
            <label for="none">No chest pain</label>
        </label>
    </p>
    <div class="horizontal">
        <div>
            <h5>Your resting blood pressure</h5>
            <p class="trestbps">
                <input type="number" placeholder="120" [(ngModel)]="trestbps"> Hg mm
            </p>
        </div>
        <div>
            <h5>Your cholesterol</h5>
            <p class="chol">
                <input type="number" placeholder="215" [(ngModel)]="chol"> mg/dl
            </p>
        </div>
    </div>
    <h5>Does your family have a history of heart disease?</h5>
    <p class="history">
        <label>
            <input type="radio" id="yes">
            <label for="yes">Yes</label>
        </label>
        <label>
            <input type="radio" id="no">
            <label for="no">No</label>
        </label>
    </p>
</div>
<button id="continue" class="button-solid" [routerLink]="'../tests'" (click)="advance()">
    Continue
    <svg xmlns="http://www.w3.org/2000/svg" width="12.021" height="12.021" viewBox="0 0 12.021 12.021">
        <path id="Path_24" data-name="Path 24" d="M16,9.414,7.4,18.021,5.983,16.607,14.59,8H7V6H18V17H16Z" transform="translate(-5.983 -6)" fill="color"/>
    </svg>
</button>