
<div class="container">
    <div class="wrapper">
        <div class="content">
            <h1>How healthy is your heart?</h1>
            <p class="blurb">Heart diseases are dangerous because they often sneak up without warning signs. They can lead to life-threatening issues like heart attacks or strokes. Regular check-ups and a healthy lifestyle help catch and manage these problems early.</p>
            <div class="next">
                <h2>Worried you might be at risk?</h2>
                <a routerLink="/disclaimer"><button class="button-solid" id="btn_next">Do an online check-up now</button></a>
            </div>
        </div>
        <div class="graphic">
            <svg xmlns="http://www.w3.org/2000/svg" width="568.7" height="532" viewBox="0 0 568.7 532">
                <path id="Path_2" data-name="Path 2" d="M1382,698.022h150.83l19.24-69.1,29.918,144.313,25.412-75.217h29.17l48.617-286.59,33.277,512,40.04-267.949,24.341,42.539H1930.7" transform="translate(-1372 -401.432)" fill="none" stroke="#e2441d" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"/>
            </svg>
        </div>
    </div>
</div>