<div class="container">
    <div class="blocks">
        <div class="ref">
            <h1>Healthcare on your terms</h1>
            <p>New payment solutions build on a history of innovation to help improve affordability.</p>
            <h3 id="continue">
                <a [routerLink]="'/disclaimer'">
                Create your Personal Care Plan 
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 36 24">
                        <path id="Path_23" data-name="Path 23" d="M22,17.5H4v-3H22V4L40,16,22,28Z" transform="translate(-4 -4)"/>
                    </svg>
                </a>
            </h3>
        </div>
        <div class="marketing">
            <h1>Making an impact</h1>
            <p>We are committed to charting a more sustainable path forward, helping to build a modern, high-performing health system that improves access, affordability, outcomes and experiences for the people who depend on it.</p>
        </div>
    </div>
    <div class="blocks">
        <div class="please">
            <h1>Please don't sue us</h1>
            <p>This is not a real company. Please Google don't send me angry emails again, we're not phishing anyone, it's just a little joke ok?</p>
            <p>if you want to take anyone to court, please contact <a href="https://www.avans.nl/"> these guys</a> it's their fault anyway.</p>
        </div>
    </div>
    <div class="mission-wrapper">
        <div class="mission">
            <h4>Our mission</h4>
            <h3 id="mid-header">Divided on a journey to improve healthcare</h3>
            <p>DividedHealth Group is a health care and well-being company with a mission to help people live healthier lives and help make the health system work better for everyone.</p>
        </div>
    </div>
</div>