button {
    border: 0;
    outline: 0;
    background-color: none;

    cursor: pointer;
}

button:disabled {
    cursor: text;
}

.button-solid {
    background-color: $main;
    color: $background;
    @extend .font_size-regular;
    @extend .font_weight-bold;
    padding: 15px 20px 15px 20px;

    path {
        fill: $background
    }
}

.button-solid:hover {
    background-color: $highlight;

    path {
        fill: $background
    }
}

.button-solid:disabled {
    background-color: $detail;
}

.button-hollow {
    background-color: transparent;
    border: $main $px-s solid;
    color: $main;
    @extend .font_size-regular;
    @extend .font_weight-bold;
    padding: 15px 20px 15px 20px;

    path {
        fill: $main
    }
}

.button-hollow:hover {
    border: $highlight $px-s solid;

    path {
        fill: $highlight
    }
}

.button-hollow:disabled {
    color: $detail;
    border: $detail $px-s solid;

    path {
        fill: $detail
    }
}