.font_size-regular {
    font-size: 1em;
}

.font_size-highlight {
    font-size: 1.5em;
}

.font_size-header {
    font-size: 2em;
}

.font_size-title {
    font-size: 3em;
}

.font_weight-regular {
    font-weight: 350;
}

.font_weight-semibold {
    font-weight: 525;
}

.font_weight-bold {
    font-weight: 650;
}