<h1>Your lifestyle</h1>
<div class="wrapper">
    <h5>How often do you excersise?</h5>
    <p class="ex">
        <label class="radiogroup">
            <input type="radio" name="exang" id="1">
            <label for="1">Every day</label>
        </label>
        <label class="radiogroup">
            <input type="radio" name="exang" id="2">
            <label for="2">Multiple time a week</label>
        </label>
        <label class="radiogroup">
            <input type="radio" name="exang" id="3">
            <label for="3">Once a week</label>
        </label>
        <label class="radiogroup">
            <input type="radio" name="exang" id="4">
            <label for="4">Once a month</label>
        </label>
        <label class="radiogroup">
            <input type="radio" name="exang" id="4">
            <label for="4">Less than once a month</label>
        </label>
    </p>
    <h5>Your maximum heartrate while exercising</h5>
    <p class="thalach">
        <input type="number" name="thalach" id="thalach" placeholder="133" [(ngModel)]="thalach"> bpm
    </p>
    <h5>Have you experienced chest pains while excercising</h5>
    <p class="exang">
        <label class="radiogroup">
            <input type="radio" name="exang" id="yes" [value]="1" [(ngModel)]="exang">
            <label for="yes">Yes</label>
        </label>
        <label class="radiogroup">
            <input type="radio" name="exang" id="no" [value]="0" [(ngModel)]="exang">
            <label for="no">No</label>
        </label>
    </p>
    <h5>How much water do drink regularly?</h5>
    <p class="water">
        <input type="number" name="water" id="alcohol" placeholder="3"> glasses a day
    </p>
    <h5>Do you smoke?</h5>
    <p class="smoke">
        <label class="radiogroup">
            <input type="radio" name="smoke" id="yes">
            <label for="yes">Yes</label>
        </label>
        <label class="radiogroup">
            <input type="radio" name="smoke" id="no">
            <label for="no">No</label>
        </label>
        <label class="radiogroup">
            <input type="radio" name="smoke" id="past">
            <label for="past">I have quit smoking</label>
        </label>
    </p>
    <h5>How much alcohol do you consume?</h5>
    <p class="alcohol">
        <input type="number" name="alcohol" id="alcohol" placeholder="7"> glasses a week
    </p>
</div>
<button id="continue" class="button-hollow" [routerLink]="'../aid'" (click)="advance()">
    Continue
    <svg xmlns="http://www.w3.org/2000/svg" width="12.021" height="12.021" viewBox="0 0 12.021 12.021">
        <path id="Path_24" data-name="Path 24" d="M16,9.414,7.4,18.021,5.983,16.607,14.59,8H7V6H18V17H16Z" transform="translate(-5.983 -6)" fill="color"/>
    </svg>
</button>