<div class="wrapper">
    <h3>My maximum achieved heartrate is..</h3>
    <p class="thalach">
        <input type="number" name="thalach" id="thalach" placeholder="133"> bpm
    </p>
    <h3>I have suffered from an excersise-induced angina</h3>
    <p class="exang">
        <label>
            <input type="radio" name="exang" id="yes" value="1">
            <label for="yes">Yes</label>
        </label>
        <label>
            <input type="radio" name="exang" id="no" value="0">
            <label for="no">No</label>
        </label>
    </p>
    <h3>My ST depression during excersise is...</h3>
    <p class="oldpeak">
        <input type="number" name="oldpeak" id="oldpeak" placeholder="0.8"> greater relative to rest
    </p>
    <h3>The slope of my ST segment during excersise is...</h3>
    <p class="slope">
        <label>
            <input type="radio" name="slope" id="up" value="1">
            <label for="up">Upsloping</label>
        </label>
        <label>
            <input type="radio" name="slope" id="flat" value="2">
            <label for="flat">Flat</label>
        </label>
        <label>
            <input type="radio" name="slope" id="down" value="3">
            <label for="down">Downsloping</label>
        </label>
    </p>
</div>
