<div class="wrapper">
    <h3>During flouroscopy...</h3>
    <p class="ca">
        <label>
            <input type="radio" name="ca" id="0">
            <label for="0">0</label>
        </label>
        <label>
            <input type="radio" name="ca" id="1">
            <label for="1">1</label>
        </label>
        <label>
            <input type="radio" name="ca" id="2">
            <label for="2">2</label>
        </label>
        <label>
            <input type="radio" name="ca" id="3">
            <label for="3">4</label>
        </label>
        <span>major vessels were colored</span>
    </p>
    <h3>I have been diagnosed with...</h3>
    <p class="thal">
        <select name="thal" id="thal">
            <option value="3">No Thalassemia</option>
            <option value="6">Fixed defect Thalassemia</option>
            <option value="7">Reversible defect Thalassemia</option>
        </select>
    </p>
</div>
