<div class="header">
    <h1>Some additional questions</h1>
    <a id="back" routerLink="../../home">
        <svg xmlns="http://www.w3.org/2000/svg" width="27.243" height="27.243" viewBox="0 0 47.243 47.243">
            <g id="x_1_" data-name="x(1)" transform="translate(-3.699 -3.699)">
              <line id="Line_2" data-name="Line 2" x1="43" y2="43" transform="translate(5.821 5.821)" fill="none" stroke="#6a747a" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              <line id="Line_3" data-name="Line 3" x2="43" y2="43" transform="translate(5.821 5.821)" fill="none" stroke="#6a747a" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
            </g>
          </svg>                  
    </a>
</div>
<div class="wrapper">
    <h3>During flouroscopy...</h3>
    <p class="ca">
        <label class="radiogroup">
            <input type="radio" name="ca" id="0" [value]="0" [(ngModel)]="ca">
            <label for="0">0</label>
        </label>
        <label class="radiogroup">
            <input type="radio" name="ca" id="1" [value]="1" [(ngModel)]="ca">
            <label for="1">1</label>
        </label>
        <label class="radiogroup">
            <input type="radio" name="ca" id="2" [value]="2" [(ngModel)]="ca">
            <label for="2">2</label>
        </label>
        <label class="radiogroup">
            <input type="radio" name="ca" id="3" [value]="3" [(ngModel)]="ca">
            <label for="3">4</label>
        </label>
        <span>major vessels were colored</span>
    </p>
    <h3>I have been diagnosed with...</h3>
    <p class="thal">
        <select name="thal" id="thal" [(ngModel)]="thal">
            <option [ngValue]="3">No Thalassemia</option>
            <option [ngValue]="6">Fixed defect Thalassemia</option>
            <option [ngValue]="7">Reversible defect Thalassemia</option>
        </select>
    </p>
</div>
<button id="continue" class="button-hollow" [routerLink]="''" (click)="advance()" [disabled]="!valid()">
    Continue
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17.243" viewBox="0 0 39 35.243">
        <g id="arrow-right" transform="translate(-3.5 -2.879)">
          <line id="Line_1" data-name="Line 1" x2="35.707" transform="translate(5 21)" fill="none" stroke="#303335" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
          <path id="Path_4" data-name="Path 4" d="M12,5,27.5,20.5,12,36" transform="translate(13.5 0)" fill="none" stroke="#303335" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
        </g>
      </svg>
</button>