.ecg, .rhythm, .flu, .slope {
    display: flex;
    flex-direction: row;
    gap: 5ch;
}

.ca {
    display: flex;
    flex-direction: row;
    gap: 5ch;
}

h4 {
    margin-bottom: 10px;
}

.wrapper {
    margin-top: 10px;
}

#continue {
    margin-top: 65px;
}

.radiogroup {
    display: flex;
    align-items: flex-start;
}