.ca {
    display: flex;
    flex-direction: row;
    gap: 5ch;
}

#back{
    position: absolute;

    height: 1.5em;
    right: 20%;

    svg {
        resize: vertical;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#continue {
    margin-top: 95px;
}

.radiogroup {
    display: flex;
    align-items: flex-start;
}