@use 'sass:color';

@import "./styles/variables.scss";
@import "./styles/reset.scss";
@import "./styles/text.scss";
@import "./styles/buttons.scss";
@import "./styles/inputs.scss";

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $text;
    background-color: $background
}

h1 {
    @extend .font_size-title;
    @extend .font_weight-regular;
}

h2 {
    @extend .font_size-header;
    @extend .font_weight-regular;
}

h3 {
    @extend .font_size-highlight;
    @extend .font_weight-regular;
}

h4 {
    @extend .font_size-regular;
    @extend .font_weight-bold;
}

h5 {
    @extend .font_size-regular;
    @extend .font_weight-regular;
}

p {
    @extend .font_size-regular;
    @extend .font_weight-regular;

    margin-top: 10px;
    margin-bottom: 1em;
}