.container {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 25px;
}

.wrapper {
    width: 55%;
}

#continue {
    margin-top: 30px;
}